{% extends "base.html" %}
{% block title %}MoZoop . Generate Trailer{% endblock %}
{% block content %}



    <div class="container mt-5">
        <h1 class="text-center text-2xl font-mono font-bold mb-10">Generate Trailer</h1>
        <form method="POST" action="{{ url_for('generatetrailer') }}" class="mx-2">

            <div class="mb-4">
                <label for="moviename" class="block text-gray-700 text-sm font-bold mb-2">Movie Name</label>
                <input name="moviename" id="moviename" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" required>
            </div>
            <div class="mb-4">
                <label for="preference" class="block text-gray-700 text-sm font-bold mb-2">Your Preference</label>
                <textarea name="preference" rows="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" required></textarea>
            </div>

            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-32">Generate Trailer</button>
        </form>


        <div class="mt-3 text-center">
            <a href="{{ url_for('home') }}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 underline mt-20">Back to Home</a>
        </div>
    </div>

    
{% endblock %}