{% extends "base.html" %}
{% block title %}MoZoop . Home{% endblock %}
{% block content %}





    <div class="p-4 border">
        <!-- <h2 class="text-xl font-bold mb-4">Recommended Trailers</h2> -->
        <div class="carousel">
            {% for trailer in trailers %}
            <div class="rounded overflow-hidden shadow-lg mb-4">
                <img class="w-full h-48 object-cover" src="{{ trailer.thumbnail }}" alt="{{ trailer.moviename }}">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ trailer.moviename }}</div>
                    <p class="text-gray-700 text-base">{{ trailer.description }}</p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <a href="{{ url_for('view_trailer', play=trailer.tid) }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Watch</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>





    {% endblock %}
