<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoZoop . Welcome</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center h-screen bg-orange-700 text-white">
    <div class="text-center">

        <img class="mb-10 mx-auto rounded-md shadow shadow-md shadow-red-400 h-32" src="{{ url_for('static', filename='setup/MoZoopLogo.png') }}" alt="MoZoop Logo">

        <h1 class="text-3xl font-bold mb-4">Welcome to MoZoop!</h1>
        <p class="text-lg">...</p>
    </div>
</body>
<script>
    setTimeout(() => {
        window.location.href = "{{ url_for('home') if session.get('user_id') else url_for('login') }}";
    }, 5000);
</script>
</html>
